.donation-card{
    display: flex;
    flex-direction: column;

    align-items: center;
    justify-content: center;
    text-align: center;

    border-radius: 6px;

    background-color: var(--light-gray);
    padding: 2rem;
    margin-right: 2rem;
    min-width: 20rem;
    margin: 1rem;
}
.donation-cause-logo{
    border-radius: 50%;
    background-color: var(--white);
    height: 5rem;
    width: 5rem;
    display: flex;
    align-items: center;
    justify-content: center;

    border: 1px solid var(--dark-gray);

    margin-bottom: 1rem;
}
.donation-card h2{
    margin: 1rem 0;
    font-size: 1.6rem;
}
.donation-card button{
    margin: .2rem 0;
    width: 100%;
    height: 3rem;
    outline: none;
    border: 3px solid var(--secondary-color);
    font-weight: 900;
    font-size: 1.2rem;
    border-radius: 6px;
    transition: ease .2s;
    cursor: pointer;
}
.donation-card button:first-of-type{
    background-color: var(--secondary-color);
    color: var(--white);
}
.donation-card button:last-of-type{
    color: var(--secondary-color);
}
.donation-card button:last-of-type:hover{
    background-color: var(--secondary-color);
    color: var(--white);
}
.donation-card button:first-of-type:hover{
    color: var(--secondary-color);
    background-color: transparent;
}

.stake-info{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}
.donate-info{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
}

.open{
    display: flex !important;
}