@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

:root{
    --bg-dark: #171822;
    --bg: #212330;
    --white: #FFFFFF;
    --dark-gray: #424242;
    --light-gray: #F1F3F6;
    --bg-light: #F1F3F6;
    --primary-color: #FF8E2B;
    --secondary-color: #2E77AE;
}

html, body{
    width: 100vw;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

*{
    text-decoration: none;
    list-style-type: none;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

#root{
    height: 100vh;
    width: 100vw;
}